  <mat-sidenav-container
      class="sidenav-container" (backdropClick)="sidenav.close()">
    <mat-sidenav #sidenav (keydown.escape)="sidenav.close()" disableClose>
      <h3>ATM App</h3>
      <ul>
        <li>
          <button mat-icon-button routerLink="/" (click)="sidenav.close()">
            <mat-icon>home</mat-icon> Home
          </button>
        </li>
        <li>
          <button mat-button routerLink="/withdraw" (click)="sidenav.close()">
            <mat-icon>attach_money</mat-icon> Withdraw
          </button>
        </li>
        <li>
          <button mat-button routerLink="/restock" (click)="sidenav.close()">
            <mat-icon>refresh</mat-icon> Restock
          </button>
        </li>
      </ul>
    </mat-sidenav>
  </mat-sidenav-container>

  <header #header>
    <atm-app-header [sidenav]="sidenav"></atm-app-header>
  </header>

  <main>
    <atm-app-toast-creator></atm-app-toast-creator>
    <router-outlet></router-outlet>
  </main>
