/*
   * Remove template code below
   */
:host {
  display: block;
  font-family: sans-serif;
  width: 100%;
}

header {
  background-color: #143055;
  color: white;
  width: 100%;
}

main {
  padding: 0 36px;
}

.sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  pointer-events: none;

  &.mat-drawer-container-has-open {
    pointer-events: all;
  }

  .mat-sidenav {
    pointer-events: all;

    h3 {
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding-inline-start: 0px;

      button {
        width: 100%;
        font-size: 16pt;
        text-align: left;
        padding: .5em 1em;
        display: inline-flex;
        align-items: center;
      }
    }
  }
}
